.error {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error__text {
    display: inline-block;
    font-size: 2rem;
    color: #fff;
    font-weight: 200;
    letter-spacing: .5rem;
    margin-left: 3rem;
    
}

.error__image {
    width: 10rem;
}