*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #333;

  min-width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(
      to right,
      #ffffff5b,
      #00000056
    ),
    url(./images/ev-ArtW4Isa3ok-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  overflow-x: hidden;

  display: grid;
  justify-content: center;
  align-content: center;
}

::selection {
  background-color: rgb(128, 128, 128);
  color: rgb(255, 255, 255);
}
